@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #3f3f46;
  font-family: "Roboto", "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-container {
  width: 80%;
  max-width: 1200px;
  padding: 150px 130px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.temp-input {
  display: flex;
  padding: 10px 20px;
  position: relative;
  background-color: #666666;
}

.btn-container {
  /* background-color: ; */
  display: block;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  position: relative;
}

.output {
  color: white;
  display: flex;
  justify-content: flex-end;
}
